/* You can add global styles to this file, and also import other style files */
body{
    background-color: lightcyan;
} 
.fila_productos div {
    background-color: rgb(88, 104, 241);
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.fila_productos {
    margin: 5px;
}
