<div class="row bg-primary" style="margin-bottom: 40px; padding: 10px; color: white;">
    <div class="col text-center">{{ productos.length }} PRODUCTOS</div>
</div>

<div class="row" *ngIf="productos.length === 0">
    <div class="col-12 bg-danger text-white">
        No hay productos
    </div>
</div>

<div class="row fila_productos">
    <div class="col-4">NOMBRE DE PRODUCTO</div>
    <div class="col-4">PRECIO</div>
    <div class="col-4">CATEGORÍA</div>
</div>

<div class="row" *ngFor="let item of productos" style="text-align: center;">
    <div class="col-4">{{ item.nombre }}</div>
    <div class="col-4">{{ item.precio }}</div>
    <div class="col-4">{{ item.categoria }}</div>
</div>

<div class="row" style="margin-left: 15px;">
    <form class="col-6" #form="ngForm">
        <div class="form-group" style="margin-top: 20px;">
            <input type="text" #nombreProducto="ngModel" name="nombre" 
                [(ngModel)]="datosFormulario" class="form-control" 
                placeholder="Nombre" required>
            <div *ngIf="nombreProducto.errors?.['required']" class="text-danger">
                Nombre requerido
            </div>
        </div>
        <button [disabled]="!form.valid" (click)="eliminar(nombreProducto.value)" 
            type="submit" class="btn btn-danger btn-lg btn-block">
            Eliminar
        </button>
    </form>
    <div class="warning bg-warning text-white" *ngIf="eliminado !== null" style="margin-left: 15px;">
        Elemento eliminado: {{ eliminado?.nombre }}, {{ eliminado?.precio }}, {{ eliminado?.categoria }}
    </div>

    <div class="warning bg-warning text-white" *ngIf="encontrado === false" style="margin-left: 15px;">
        Producto no encontrado
    </div>

</div>


