<div class="row" *ngIf="productos.length == 0">
    <div class="col-12 bg-danger">
        No hay productos
    </div>
</div>
<div class="row fila_productos">
    <div class="col-3">
        NOMBRE DE PRODUCTO
    </div>
    <div class="col-3">
        PRECIO
    </div>
    <div class="col-3">
        CATEGORÍA
    </div>
</div>
<div class="row fila_productos" *ngFor="let item of productos">
    <div class="col-3">
        {{ item.nombre }}
    </div>
    <div class="col-3">
        {{ item.precio }}
    </div>
    <div class="col-3">
        {{ item.categoria }}
    </div>
    <div class="col-3">
        <button (click)="eliminar(item.nombre)" type="button" name="eliminar[]" id="eliminar[]" class="btn btn-primary" btn-lg btn-block>Eliminar</button>
    </div>
</div>
<div class="warning bg-warning" *ngIf="eliminado!=null">
        Elemento eliminado: {{eliminado.nombre}}, {{eliminado.precio}}, {{eliminado.categoria}}
</div>
