<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="row">
    <div class="col-2">
      <input type="text" #nombreProducto 
        name="nombre"
        [(ngModel)]="datosFormulario.nombre"
        placeholder="Nombre">
      <input type="text" #precioProducto 
        name="precio"
        [(ngModel)]="datosFormulario.precio"
        placeholder="Precio">
      <input type="text" #categoriaProducto 
        name="Categoria"
        [(ngModel)]="datosFormulario.categoria"
        placeholder="Categoria">
      <button (click)="onSubmit(form)" type="submit" id="" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</form>