
<div class="container">

    <div class="row">

        <div class="col-12 text-center" style="font-size: 100px;">{{contador}}</div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="incrementar()" type="button" class="btn btn-primary">Incrementar</button>
            <button (click)="decrementar()" type="button" class="btn btn-primary">Decrementar</button>
            <button (click)="reset()" type="button" class="btn btn-primary">Reset</button>
        </div>

    </div>

</div>

